
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/stylesheet/home.css">
        <link rel="stylesheet" href="/stylesheet/button.css">
        <title>Velos</title>
    </head>
    

    <body class="d-flex text-center text-white bg-dark">
        <div class="d-flex w-100 h-100 p-3 mx-auto  flex-column">
            
            <% if(success && success.length){ %> 
                <div class="container">
                    <div class="">
                <div class="alert alert-success alert-dismissible fade show  row" role="alert">
                    <strong><%= success %> </strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
        </div>
                <% } %> 
                
                <% if(error && error.length){ %> 
                    <div class="container">
                        <div class="">
                <div class="alert alert-danger alert-dismissible fade show  row" role="alert">
                    <strong><%= error %> </strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
        </div>
                <% } %> 
        
            <nav class="navbar navbar-expand-lg navbar-dark mb-auto">
                <div class="container-fluid cover-container">
                    <a class="navbar-brand brand-response" href="#">Velos</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav ms-auto">
                            <a class="nav-link  active"  href="/">Home</a>
                            <a class="nav-link" href="/catalogue">Catalogue</a>
                            <% if(!currentUser){%>
                                <a class="nav-link " href="/login">Login</a>
                                <a class="nav-link " href="/signup">Sign Up</a>
                                <% }else{ %>
                                    
                                            <% if(currentUser){ %>
                                                <% if(!currentUser.isAdministrator){ %> 
                                                <a class="nav-link " href="/hostCycle">Host Cycle</a>
                                                <br>
                                                <% } %> 
                                                <% if(currentUser.isAdministrator ){ %>
                                                    <a class="nav-link " href="/adminCycle">Admin Cycles</a>
                                                    <br>
                                                    <a class="nav-link " href="/adminUpdate">AdminUpdate</a>
                                                    <br>
                                                    <a class="nav-link " href="/adminReview">Admin Review</a>
                                                <% } %>
                                             <% } %> 
                                    
                                    <a class="nav-link" href="/logout">Logout</a>
                                    <% if(currentUser && !currentUser.isAdministrator){ %> 
                                    <a class="profileIcon nav-link" href="/profile">
                                        <i class="profileIcon fa fa-user-circle-o" style="font-size:36px;color:white"></i>
                                    </a>
                                    <% } %> 
                                    <% } %>
                        </div>
                    </div>
                </div>
                
            </nav>
            
            
                
                
                    <div class="container">

                       <% if(currentUser && !currentUser.isAdministrator){ %> 
                        <div class="mt-4">
                            <form action="/catalogue">
                                <button class="position-absolute top-50 start-50 translate-middle button-64 " role="button"><span class="text gradient-text">Book a Ride</span></button>
                                
                                </form>
                        </div>
                        <% }else if(!currentUser){ %>
                            <div class="mt-4">
                                <form action="/catalogue">
                                    <button class="position-absolute top-50 start-50 translate-middle button-64 " role="button"><span class="text gradient-text">Book a Ride</span></button>
                                    
                                    </form>
                            </div>
                        <% } %>  
                         
                        
                  
                    
                    </div>
                  
                

            <footer class="mt-auto text-white-50">
                <p>&copy;Velos 2022</p>
            </footer>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    </body>

</html> 
